.pointer:hover{
  /*background: grey;*/
  -moz-box-shadow: 0 0 30px 5px #999;
  -webkit-box-shadow: 0 0 30px 5px #999;
	cursor: pointer;
}

.pointer{
	pointer-events: auto;
 	/* cursor: pointer; */
}
