<div class="main-content">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Créer un compte Collaborateur</h4>
				<p class="card-category">Nouveau Compte</p>
			</div>
			<div class="card-body">
				<form>
					<div class="row">
						<div class="col-md-5">
							<mat-form-field >
								<input matInput placeholder="Organisation">
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field  >
								<input matInput placeholder="Nom d'utilisateur">
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field  >
								<input matInput placeholder="Adresse Mail" type="email">
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<mat-form-field  >
							<input matInput placeholder="Prénom" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-6">
							<mat-form-field  >
							<input matInput placeholder="Nom" type="text">
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<mat-form-field  >
							<input matInput placeholder="Adresse" type="text">
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<mat-form-field  >
							<input matInput placeholder="Ville" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field  >
							<input matInput placeholder="Pays" type="text">
							</mat-form-field>
						</div>
						<div class="col-md-4">
							<mat-form-field  >
							<input matInput placeholder="Code Postal" type="text">
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>COMPÉTENCES</label>
							<div class="card">
							<div class="card-header card-header-tabs card-header-success ">
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper">
										
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li class="nav-item">
												<a mat-button class="nav-link active " href="#academique" data-toggle="tab">
													<i class="material-icons ">grade</i> PROFESSIONNELLE
													<div class="ripple-container"></div>
												</a>
											</li>
											<li class="nav-item">
												<a mat-button class="nav-link" href="#pro" data-toggle="tab">
													<i class="material-icons">mood</i> PERSONNELLES
													<div class="ripple-container"></div>
												</a>
											</li>
											
										</ul>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="tab-content">
									<div class="tab-pane active" id="academique">
										<table class="table">
											<tbody>
												<tr>
													<td>
														<div class="form-check">
															<label class="form-check-label">
																<input class="form-check-input" type="checkbox" value="" checked>
																<span class="form-check-sign">
																	<span class="check"></span>
																</span>
															</label>
														</div>
													</td>
													<td> Formation 1 </td>
												</tr>
												<tr>
													<td>
														<div class="form-check">
															<label class="form-check-label">
																<input class="form-check-input" type="checkbox" value="" checked>
																<span class="form-check-sign">
																	<span class="check"></span>
																</span>
															</label>
														</div>
													</td>
													<td> Formation 2</td>
												</tr>
												<tr>
												<td>
													<div class="form-check">
														<label class="form-check-label">
															<input class="form-check-input" type="checkbox" value="" checked>
															<span class="form-check-sign">
																<span class="check"></span>
															</span>
														</label>
													</div>
												</td>
												<td> Formation 3 </td>
											</tr>
												<tr>
												<mat-form-field  >
													<textarea matInput placeholder=""> Autres </textarea>
												</mat-form-field>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="tab-pane" id="pro">
										<table class="table">
											<tbody>
												<tr>
													<td>
														<div class="form-check">
															<label class="form-check-label">
																<input class="form-check-input" type="checkbox" value="" checked>
																<span class="form-check-sign">
																	<span class="check"></span>
																</span>
															</label>
														</div>
													</td>
													<td> Formation 1 </td>

												</tr>
												<tr>
													<td>
														<div class="form-check">
															<label class="form-check-label">
																<input class="form-check-input" type="checkbox" value="" checked>
																<span class="form-check-sign">
																	<span class="check"></span>
																</span>
															</label>
														</div>
													</td>
													<td> Formation 2</td>

												</tr>
												<tr>
												<mat-form-field  >
													<textarea matInput placeholder=""> Autre </textarea>
												</mat-form-field>
												</tr>
												
											</tbody>
										</table>
									</div>
									
								</div>
							</div>
						</div>
							<div class="form-group"> 

								<div class="form-group">
									<label class="bmd-label-floating">Motivation : Pourquoivoulez-vous joindre l'équipe implementation de la norme ISO 27001</label>
									<textarea class="form-control" rows="5"></textarea>
								</div>
							</div> 
						</div>
					</div>
					<button mat-raised-button type="submit" class="btn btn-primary pull-right">Créer un compte</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
		</div>

		<div class="col-md-2"></div>
		</div>
	</div>
</div>