<div class="main-content">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-4"></div>
           <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-tabs card-header-info ">
                        <h3 class="card-title">Se connecter En tant que Collaborateur</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">            
                            <div class="col-md-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="material-icons">business_center</i>
                                    </span>
                                  </div>
                            </div>
                            <div class="col-md-11">
                              <mat-form-field  >
                                <input matInput placeholder="Organisation" id="org" >
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">            
                            <div class="col-md-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="material-icons">email</i>
                                    </span>
                                  </div>
                            </div>
                            <div class="col-md-11">
                              <mat-form-field  >
                                <input matInput placeholder="Adresse Mail" id="email" type="email">
                              </mat-form-field>
                            </div>
                        </div>

                        <div class="row">            
                            <div class="col-md-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="material-icons">mode_edit</i>
                                    </span>
                                  </div>
                            </div>
                            <div class="col-md-11">
                              <mat-form-field  >
                                <input matInput placeholder="Mot de passe" id="password" type="password">
                              </mat-form-field>
                            </div>
                        </div>


                        
                        <br>
                        <a href="javascript:void(0)" class="btn btn-info">Connexion</a>
                    </div>
                </div>
          </div>
        
          <div class="col-md-3"></div>
        </div>    
   </div>
</div>

<!-- Autre component -->
<div class="main-content">
  <div class="container-fluid">
     <div class="row">
      <div class="col-md-4"></div>
         <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/faces/landing.png" />
                    </a>
                </div>
                <div class="card-body">
                  
                    <h4 class="card-title">Se Connecter </h4>
                    <p class="card-description">
                        SSI Mertrics vous pret de ................................ et de ................... en tant que RSSI ............. EN TANT QUE Collaborateur ..............
                    </p>
                    <a href="javascript:void(0)" class="btn btn-info btn-round ">En tant que Collaborateur</a> 
<br>
                    <a href="javascript:void(0)" class="btn btn-info btn-round ">En tant que RSSI</a>
                </div>
            </div>
        </div>
      
        <div class="col-md-3"></div>
      </div>    
 </div>
</div>

