<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-header-info card-profile">
						<div class="card-avatar ">
							<a href="javascript:void(0)">
								<img class="img" src="./assets/img/faces/landing.png" />
							</a>
						</div>
					</div>
          <div class="card-body">
            <div class="row">            
                <div class="col-md-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">business_center</i>
                        </span>
                      </div>
                </div>
                <div class="col-md-11">
                  <mat-form-field  >
                    <input matInput #nameInput [value]="organisation+'_SSI Metrics'" id="name" >
                  </mat-form-field>
                </div>
            </div>
            
            <div class="row">            
              <div class="col-md-1">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">people_alt</i>
                      </span>
                    </div>
              </div>
              <div class="col-md-10">
                <span class="input-group-text">
                   Ajouter des collaborateurs :
                </span>
              </div>
              <div class="col-md-1">
                <span class="input-group-text">
                  <i class="material-icons" style="color:#00bcd4;" (click)="onClick()">add_box</i>
                </span>
              </div>
            </div>
            
           
            
            <br>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md_4"> <a (click)="onCreateButtonClicked(nameInput.value)" class="btn btn-info">Créer</a></div>
            </div>
           
        </div>

				 
				</div>
			</div>


			<div class="col-md-2"></div>
		</div>
	</div>
</div>