<div class="main-content">
	<div class="container-fluid">


		<div class="card card-stats">
			<div class="card-header card-header-icon" style="color:lightslategray">
				<div class="card-icon">
					<i class="material-icons" style="color: ghostwhite;">library_books</i>
				</div>
				

			</div>
			<div class="card-body" *ngIf="sousTaches">
				<div class="tab-content">
					<div class="tab-pane active" id="profile">
						<table class="table">
							<tbody>
								<tr *ngFor="let sousTache of sousTaches; let i = index" >
									<td style="color:darkgreen; font-size: 15px; text-align: left;"> {{sousTache.clause}}  </td>
									<td style="text-align: left; font-size: 15px;"> {{sousTache.label}}</td>
									
									<td *ngIf="sousTache.etat == 'pas mis en oeuvre'" > <p class="text-danger" style="text-align: left;  font-size: 20px;" > {{sousTache.etat}}  </p> </td>
									
									<td *ngIf="sousTache.etat == 'en cours'">  <p  style="text-align: left; color: #2BA8FF ; font-size: 20px;" > {{sousTache.etat}}  </p>  </td>
									
									<td *ngIf="sousTache.etat == 'terminé'"> <p  style="text-align: left; color: #4CAF50 ; font-size: 20px;" > {{sousTache.etat}}  </p> </td>
									
									<td>
										<span *ngIf="!affected[i]" class="material-icons pointer" style="color:lightslategray" (click)="onAddCollaboratorClick(sousTache._id)">  add_circle_outline </span>

										<h2 *ngIf="affected[i]" > {{ affectedCollabsNames[i] }} </h2>
										
									</td>
									
									<td>
										<button class="btn btn-danger btn-block mat-raised-button" placement="top" ngbTooltip="La sous-tâche doit être révisé" (click)="onClickResetButton( sousTache._id,sousTache.etat)">
											<i class="material-icons" > thumb_down</i>
										  </button>
									
									</td>

									
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="stats">

				</div>
			</div>
		</div>

	</div>
</div>