
<div class="card card-stats">
	<div class="card-header card-header-icon" style="color:lightslategray">
		<div class="card-icon">
			<i class="material-icons" style="color: ghostwhite;">assignment_ind</i>
		</div>
		
		<!-- <h3 class="card-title">Affecter un collaborateur</h3> -->
	</div>

	<div class="card-body">
		<h2>Affecter un collaborateur</h2>
		<div class="card-body table-responsive">
			<table class="table">
				<thead class="text-info">
					<th>Nom Complet </th>
					<th>Adresse Mail</th>
					<th>Ville, Pays</th>
				</thead>
				<tbody>
					<tr  *ngFor="let collaborateur of workspaceCollabs" [ngClass]="{ pointer: true, selected: selectedCollabId == collaborateur._id }" (click)="selectCollab(collaborateur._id)" >
						<td>{{ collaborateur.nom }}</td>
						<td>{{ collaborateur.email }}</td>
						<td>{{ collaborateur.ville }}, {{ collaborateur.pays }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-md-1"></div> 
			
			<div class="col-md-5">
				<label for="dated"><b>Date début:&nbsp;</b></label> 
				<input name="dated" [(ngModel)]="startDate" type="date">
			</div>
			
			<!-- <div class="col-md-1"></div>  -->
			
			<div class="col-md-5">
				<label for="datef"><b>Date fin:&nbsp;</b></label> 
				<input name="datef" [(ngModel)]="endDate" type="date">
			</div>

			<div class="col-md-1"></div> 
		</div>

		<br/>

		<div class="row">
			<div class="col-md-8"></div> 
			<div>
				<button mat-raised-button class="btn btn-success" [disabled]="!has_selected" (click)="onAffectButtonClicked()">Affecter</button>
				<button mat-raised-button class="btn btn-danger" (click)="onCloseButtonClicked()">Fermer</button>
			</div>
		</div>

	</div>
</div>
