
<div class="card card-stats">
    <div class="card-header card-header-icon" style="color:lightslategray">
        <div class="card-icon">
            <i class="material-icons" style="color: ghostwhite;">assignment_ind</i>
        </div>
       
        <h3 class="card-title">Ajouter des collaborateurs
            
        </h3>
    </div>
    <div class="card-body">
        <h1>Ici c'est la partie ajout des collaborateurs .Pas encore terminée ! </h1>
    </div>
    <div class="card-footer">
        <div class="stats">
            <div class="row">
              <div class="col-lg-9"></div>
              <div class="col-lg-3">
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onCloseButtonClicked()">Fermer</button>
              </div>
            </div>
        </div>
    </div>
</div>

