.e-name{
    /* font-family: Arial; */
    font-size: 15px;
   
}

.e-label{
    /* font-family: Arial; */
    font-size: 15px;
}

.pointer{
	pointer-events: auto;
 	/* cursor: pointer; */
}

.pointer:hover{
	cursor: pointer;
}