<div class="main-content">
  <div class="container-fluid">
       
    <div class="row">
      
      <div class="col-md-4"></div> 
      <div> <span class="material-icons" style="color:#ff1a1a;font-size: 100px;  margin-left: 25%;">error_outline</span></div>
       
    </div>
    
    <div class="row"><br></div>
    <div class="row">

        <div class="col-md-4"></div> 
        <div style="font-size: 30px; margin-left: 17%; color:#595959;"> 
            Connexion impossible
            <br>
            <br>
        </div>

    </div>
    
    <div class="row">

        <div class="col-md-2"></div> 
        <div style="font-size: 18px; color: #545454; margin-left: 5%;"> 
            Veuillez vérifier vos coordonnées 
            <br>
            <br>
        </div>

    </div>

    <div class="row">

        <div class="col-md-5"></div> 
        <div><button mat-flat-button (click)=" onCloseButtonClicked();" style="background-color: #4caf50; color: #fff;border-color: #4caf50; width: 80px;">Ok</button></div>

   </div>

  </div>
</div>
