<div class="main-content">
	<div class="container-fluid" style="text-align: center; margin-top: 60px;">

	<div class="row" >
		<div class="col" style="margin-bottom: 50px;">
			<div>
				<h4 class="card-title" style="font-size: 50px; color:#21296e; font-family: 'CaviarDreams' ; font-weight: bolder; margin-top: 20px; line-height: 100%;">Bienvenue à SSI Metrics </h4>

			</div>
		</div>
		<div class="col-md-12" style="margin-top: 40px;">
	
			<div class="row" style=" margin-top : 50px; margin-bottom: 50px;">
				<div class="col-md-4">
					<img src="../../../assets/img/pdca.png" style="height: 230px; width: 450px;" >
				</div>
				<div class="col-md-4" >
					<img src="../../../assets/img/subtasks.png" style="height: 230px; width: 378px;">
				</div>
				<div class="col-md-4">
					<img src="../../../assets/img/chart.png"style="height: 230px; width: 378px;" >
				</div>

			
			</div>


			<div style="color: #21296e; padding: 20px;">
				<br>
				<p > <span class="card-title" style="font-size: 20px; color:#21296e; font-family: 'CaviarDreams' ; font-weight: bolder; margin-top: 30px; line-height: 100%;"> Soyez Leader et fournissez votre équipe avec un outil de gestion digital du cycle d'implémentation de la norme ISO 27001.</span></p>

			</div>
		</div>
		<div class="col"></div>

	</div>    
</div>
</div>
  


