
<div class="main-content">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-4"></div>
           <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/landing.png" />
                      </a>
                  </div>
                  <div class="card-body">
                    
                      <h4 class="card-title">Se Connecter </h4>
                      <p class="card-description">
                          SSI Mertrics vous pret de ................................ et de ................... en tant que RSSI ............. EN TANT QUE Collaborateur ..............
                      </p>
                      <br>
                      <a class="btn btn-info btn-round "  routerLink="/login-rssi" routerLinkActive="active">En tant que RSSI </a> 
                      <br>
                      <a class="btn btn-info btn-round " routerLink="/login-collab" routerLinkActive="active"> En tant que Collaborateur </a>
                  </div>
              </div>
          </div>
        
          <div class="col-md-3"></div>
        </div>    
   </div>
  </div>
  
  <router-outlet></router-outlet>