<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1"><span class="material-icons" (click)="onCloseButtonClicked();" style="color: red;">cancel</span></div>
</div>
 <div class="main-content">
    <div class="container-fluid">
  
  <div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title"> Liste des collaborateurs </h4>
        <p class="card-category"> Collaborateurs participants à l'implémentation de la norme ISO 27001 dans l'organisation {{organisationName}} </p>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-info">
                <th>Nom Complet </th>
                <th>Adresse Mail</th>
                <th>Ville, Pays</th>
            </thead>
            <tbody>
                <tr  *ngFor="let collaborateur of collaborateurs" >
                    <td>{{ collaborateur.nom }}</td>
                    <td>{{ collaborateur.email }}</td>
                    <td>{{ collaborateur.ville }}, {{ collaborateur.pays }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
