<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        SSI METRICS
                    </a>
                </li>
                <li>
                    <a href="#">
                        À Propos
                    </a>
                </li>
              
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{test | date: 'yyyy'}}, made with love by Ilyes, Meriam & Zeineb
            <a href="#" target="_blank"> SSI Metrics </a> Pour une meilleur gestion de l'implementation de la norme ISO 27001.
        </div>
    </div>
</footer>
