.align-bottom {
    position: absolute;
    bottom:25px;
	margin-left: 0px;
	margin-right: 60px;
}

.login-info{
	background-color: #21296e;
	color: #2ba8ff;
}

.sidebar{
    background-color: white;
    text-align: center;
	width: 300px;
}


.imgcent {
    display: block;
	margin-left: 80px;
	margin-right: 100px;
	width: 50%;
}

.btncent {
    display: block;
	margin-left: 10px;
	margin-right: 80px;
	font-size: 14px;
	/* width: 50%; */
	width: 200px;
}

.pointer{
	pointer-events: auto;
 	cursor: pointer;
}