.align-bottom {
    position: absolute;

    bottom:0;
    
  
  }

.login-info{
	background-color: #21296e;
	color: #2ba8ff;
	/* font-weight: bolder; */
}

.sidebar{
    background-color: white;
    font-weight: bolder;
    text-align: center;
}