<div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
       
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>

<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        SSI METRICS
    </a>
</div>
<div class="sidebar-wrapper">

    <ul class="nav">
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li> -->
        <li><a routerLink="/login-collab" routerLinkActive="active"> Accès Collaborateur</a></li>
        <li><a routerLink="/signup-collab" routerLinkActive="active"> Créer un Compte Collaborateur</a></li>
        <li><a routerLink="/profil-collaborateur" routerLinkActive="active"> Mon Profil (Collaborateur)</a></li>
        <li><a routerLink="/collaborateurs" routerLinkActive="active"> Tous les collaborateurs </a></li>      
    </ul>
</div>
</div>
<router-outlet></router-outlet>
