<!--WorkSpace for Collaborateur -->
<div class="main-content">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">cached</i>
                </div>
                <p class="card-title">À quelle phase sommes-nous?</p>
                <h3 class="card-category">(la phase actuelle) </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p>Le cycle d'implementation de la norme ISO 27001 contient 4 phases : Plan, Do, Check et Act.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">timeline</i>
                </div>
                <p class="card-title">Les exigences à implementer </p>
                <h3 class="card-category">Toutes les taches et les sous-taches</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                   <p>Pour assurer l'implementation de la norme ISO 27001 il faut terminer  rigoureusement la liste des taches</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
 
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">group</i>
                </div>
                <p class="card-title">Mes Collegues </p>
                <h3  class="card-category"> xx (nombre des Collaborateurs) </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <p> Toute l'equipe d'implementation de la norme ISO 27001 de (org) </p>
              
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>



