<div class="main-content">
  <div class="container-fluid">

    <div class="row">
        

      <div class="col-md-4"></div>
      <div class="col-md-8">
             <br><br><br><br><br><br><br><br><br><br><br><br>
             <div class="row">
              
                   <div id="inner-circle">
                      <div id="text" (click)="getData()">{{phases[1].nom}}</div>
                       <div id="outer-circle"> <div id="text" (click)="getData()">{{phases[0].nom }}</div> </div>
                   </div>
                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                  <div id="inner-circle-2">
                    <div id="text" (click)="getData()">{{phases[3].nom }}</div>
                     <div id="outer-circle-2"><div id="text" (click)="getData()">{{phases[2].nom }}</div> </div>
                  </div>
               
            </div>
     </div>  
     
   
   
    </div>
  </div>
</div>