<div class="main-content">
	<div class="container-fluid">
		
		<div class="row" style="margin-top: 10%;">
			
			
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<br><br><br><br><br><br>
			
				<div class="row">
					
					<div id="inner-circle">
						
						<div id="text" class="pointer" *ngIf="phases != undefined "   [routerLink]="['/exigences', phases[1]._id]">2. {{phases[1].nom}}</div>
						
						
						<div id="outer-circle">
							<div id="text" *ngIf="phases != undefined " class="pointer" [routerLink]="['/exigences', phases[0]._id]" >1. {{phases[0].nom }}</div> </div>
						
							
							
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
						<div id="inner-circle-2">
							<div id="text" class="pointer" *ngIf="phases != undefined "[routerLink]="['/exigences', phases[3]._id]">4. {{phases[3].nom }}</div>
							
							<div id="outer-circle-2">
								
								<div id="text" class="pointer" *ngIf="phases != undefined " [routerLink]="['/exigences', phases[2]._id]">3. {{phases[2].nom }}</div> </div>
							
								
							</div>
							
						</div>
					</div>  
					
					
					
				</div>
			</div>
		</div>